*{
    font-family: "Comic Sans MS", serif;
}

body{
    background-color: beige;
    margin: 0 5rem;
}

.card img{
    object-fit: cover;
    object-position: center;
    width: 500px;
    max-height: 281px;
}

.card{
    width: fit-content;
    padding: 0.4rem;
    background: #06a8a4;
    margin-bottom: 0.4rem;
    border-radius: 10px;
}

h3{
    font-size: 1.6rem;
}

.category p{
    font-size: 1.2rem;
}

.card a{
    display: inline-flex;
    padding: 0.45rem 1.5rem;
    border-radius: 10px;
    background: brown;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: white;
}

.category{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.content img{
    width: 600px;
}