body{
    background-color: beige;
}

img{
    object-fit: cover;
    object-position: center;
}

.card{
    width: fit-content;
    padding: 0.4rem;
    border: 2px solid #000000;
    background: #06a8a4;
    margin-bottom: 0.4rem;
}

.category{
    display: inline;
}