body{
    background-color: beige;
}

img{
    object-fit: cover;
    object-position: center;
    width: 500px;
    max-height: 281px;
}

.card{
    width: fit-content;
    padding: 0.4rem;
    background: #06a8a4;
    margin-bottom: 0.4rem;
}

.category{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}