<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Автомобили</title>
</head>
<body bgcolor="white">
<ul>
    {% for category in categories %}
        <li>
            {{ category.name }}
        </li>
    {% endfor %}
</ul>
{% for category in categories %}
    <span> Категория "{{ category.name }}"</span>
    {% if category.cars.all %}
        {% for car in category.cars.all %}
            <p>Автомобиль "{{ car.name }}"</p>
            <img src="" alt="">
        {% endfor %}
    {% else %}
        <p>Автомобилей в данной категории еще нет</p>
    {% endif %}
    <br>
{% endfor %}
</body>
</html>