{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Вход</title>
</head>
<body>
{% include 'header.html' %}
<h1>Авторизация аккаунта</h1>
<form method="post" class="login-form">
    {% csrf_token %}

    <label for="username">Логин</label><br>
    <input type="text" id="username" name="username" placeholder="Логин"><br>
    <label for="password">Пароль</label><br>
    <input type="password" id="password" name="password" placeholder="Пароль"><br><br>

    <button type="submit">Войти</button>

    <span>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></span>

    {% for msg in messages %}
        <p style="color:red;">{{ msg }}</p>
    {% endfor %}
</form>
</body>
</html>